@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.main{
    display: flex;
    justify-content: center;
    gap: 30px;

}

.right{
    font-family: "Poetsen One", sans-serif;
    
}

.left{
    font-family: "Poetsen One", sans-serif;
}

.left h2{
    text-align: center;
}